/* Set the maximum width of the table container */
.table-container {
  max-width: 90%;
}

/* Circle around max score number */
.circle-container {
  display: flex;
  align-items: center;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: orangered;
  margin-left: -20px; /* Add margin to separate the circle from the text */
}

.tick{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: orangered;
  margin-left: -15px; /* Add margin to separate the circle from the text */
}

/* Colors used for coloring score cells within the heatgrid for the grades view */

/* Null space in the table */
.c0 {
  background-color: #d3d3d3;
}

/* Red, indicative of a poor score */
.c1 {
  background-color: #ff8080;
}

/* Orange */
.c2 {
  background-color: #FD992D;
}

/* Yellow, indicative of a median score */
.c3 {
  background-color: #FFEC8B;
}

/* Light green */
.c4 {
  background-color: #BCED91;
}

/* Green, indicative of a good score */
.c5 {
  background-color: #2DE636;
}

/* Default background color */
.cf {
  background-color: #FFFFFF;
}

/* Style for the grades in the summary report */
.grade-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  line-height: 30px;
  text-align: center;
}

/* Underline scores which have a comment */
.underlined {
  text-decoration: underline;
  font-weight: bold;
}

/* Styling for the heatgrid table */
.tbl_heat {
  border: 1px solid black;
  width: 100%;
  font-size: 10px;
  text-align: center;
  table-layout: fixed;
  min-width: 600px; // Minimum width before scrolling kicks in
}

.tbl_heat td {
  cursor: pointer;
  padding: 8px;
  border: 1px black solid;
  width: auto;
  font-size: 11px;
  table-layout: fixed;
  position: relative;
}

/* Tooltip display for question text on hover */
.tbl_heat td[data-question]:hover::after {
  content: attr(data-question);
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 1);
  color: #ffffff;
  padding: 4px;
  border-radius: 4px;
  bottom: 130%;
  left: 0%;
  white-space: nowrap;
}

/* Styling for table headers */
.tbl_heat th {
  border: 1px black solid;
  padding: 10px;
  font-size: 11px;
  background-color: #f2f2f2;
  width: auto;
  table-layout: fixed;
}

/* Hides padding for specific rows */
.hiddenRow {
  padding: 0 !important;
}

/* Tooltip span styling */
.spn_tooltip {
  padding-left: 30px;
  color: grey;
  font-size: small;
}

/* Styling for question toggle span */
.spn_qsttog {
  padding-left: 30px;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  font-size: small;
}

/* Classes for E2100 Tag Reports for Students to style the new HeatGrid of review tags */

/* Styling for action row */
.action_row {
  border: 1px black solid;
  padding: 1px 2px 2px 1px;
  font-size: 11px;
  text-align: center;
}

/* Styling for tag heat grid */
.tag_heat_grid {
  padding: 0;
  spacing: 0;
  border: 1px solid black;
  position: relative;
  float: right;
  top: 0px;
  right: 0px;
  z-index: 2;
}

/* Styling for tag heat grid headers */
.tag_heat_grid th {
  border: 1px solid black;
  font-size: 12px;
  cursor: pointer;
}

/* Styling for tag heat grid cells */
.tag_heat_grid td {
  border: 0.5px solid black;
  font-size: 8px;
}

/* Styling for tag heat grid criterion */
.tag_heat_grid_criterion {
  font-size: 11px !important;
  font-weight: bold !important;
}

/* Styles for the round selector */
.round-selector {
  display: flex;
}

.round-button {
  padding: 7px 7px;
  margin: 5px;
  border: 2px solid #4a90e2;
  border-radius: 10px;
  background-color: #4a90e2;
  color: white;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #357bd8;
    border-color: #357bd8;
  }

  &.current {
    background-color: #2ecc71;
    border-color: #2ecc71;
  }

  .round-selector > div {
    display: flex;
    align-items: center;
    margin: auto;
  }
}

.container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  width: 80%; /* Ensure the container takes up the full width */
}


.round-heading {
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
}

.review-heading {
  font-weight: bold;
  margin-top: 10px;
}

.review-block {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 0;
}

.question {
  font-weight: bold;
}

.score {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-right: 10px;
  font-weight: bold;
}

.comment {
  flex-grow: 1; /* Ensures comment fills the rest of the container */
  padding-top: 3px; 
}

/* Style for even-numbered review blocks */
.review-block:nth-child(even) {
  background-color: #d9edf7; 
  
}

/* Style for odd-numbered review blocks */
.review-block:nth-child(odd) {
  background-color: #fcf8e3; 

}

.score-container {
  display: flex;
  align-items: center; 
  margin-top: 5px;
  padding-top: 10px; 

}


.review-container {
  margin-bottom: 200px; 
}
